 
<body>
<div class="signup-form">
    <form name ="Form" #f="ngForm" (ngSubmit)="f.form.valid && registermanager()"  method="post">
		<h2> Manager Register</h2>
		<hr>
        <div class="form-group">
        	<input type="text"[(ngModel)]=reg.fristname #firstname="ngModel" [ngClass]="{ 'is-invalid': f.submitted && firstname.invalid }"class="form-control" name=" fristname" placeholder="Frist Name" required >
            <div *ngIf="f.submitted && firstname.invalid" class="invalid-feedback">
                <div *ngIf="firstname.errors.required">First Name is required</div>
            </div>
        </div>
        <div class="form-group">
        	<input type="text" [(ngModel)]=reg.lastname #lastname="ngModel" [ngClass]="{ 'is-invalid': f.submitted && lastname.invalid }" class="form-control" name="lastname" placeholder="Lastname" required>
            <div *ngIf="f.submitted && lastname.invalid" class="invalid-feedback">
            <div *ngIf="lastname.errors.required">Last Name is required</div>
            </div>
        </div>
        <div class="form-group">
        	<input type="password" [(ngModel)]=reg.password #password="ngModel" [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" class="form-control" name="password" placeholder="password" required>
            <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
            <div *ngIf="password.errors.required">Password is required</div>
        </div>
        </div>
        <div class="form-group">
        	<input type="email" [(ngModel)]=reg.email  #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.invalid && email.touched }"class="form-control" name="email" placeholder="Email id" required pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
            <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
            <div *ngIf="email.errors.required"> Email is required</div>
            <div *ngIf="email.errors.pattern"> Please provide a valid email address</div>
        
        </div>
        </div>
        <div class="form-group">
        	<input type="text" [(ngModel)]=reg.address #address="ngModel" [ngClass]="{ 'is-invalid': f.submitted && address.invalid }" class="form-control" name="address" placeholder="Address" required>
            <div *ngIf="f.submitted && address.invalid" class="invalid-feedback">
            <div *ngIf="address.errors.required">Address is required</div>
        </div>
        </div>
        <div class="form-group">
        	<input type="date" [(ngModel)]=reg.dob #dob="ngModel" [ngClass]="{ 'is-invalid': f.submitted &&  dob.invalid }"class="form-control" name="dob" placeholder="Birth of date" required>
            <div *ngIf="f.submitted && dob.invalid" class="invalid-feedback">
            <div *ngIf="dob.errors.required">Birth of date is required</div>
        </div>
        </div>
        
		<div    class="form-group">
            <button type="submit" class="btn btn-primary btn-block btn-lg">Register</button>
        </div>
		
    </form>
	
</div>
 
</body>                           
